# API Configuration
REACT_APP_API_BASE_URL=https://to-do-fontend.vercel.app/api

# Socket.IO Configuration
REACT_APP_SOCKET_URL=https://to-do-fontend.vercel.app

# Environment
REACT_APP_ENV=production
